h1 {
    font-size: 65px;
    font-family: sans-serif;
    color: orange;
    text-align: center;
    text-decoration: underline;
}
ul {
    background-color: aqua;
}
.class1 {
    background-color: blueviolet;
    font-style: italic;
}
p {
    font-weight: 600;
    font-size: 3em;
}
body {
    font-size: 16px;
}
li {
    line-height: 2em;
}