div:hover {
    border-radius: 2px;
    border-width: 3px;
    border-style: dotted;
    border-color: black; 
}
div:nth-of-type(1) {
   background-color: aqua; 
}
div:nth-of-type(2) {
    background-color: yellow;
}
div:nth-of-type(3) {
    background-color: green;
    font-size: larger;
}
div:nth-of-type(4) {
    background-color: red;
}
div:nth-of-type(5) {
    background-color: orange;
}

h3 {
    font-style:oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}

h3:nth-child(odd) h3 {
    font-style: italic;
}