body {
	margin: 0;
	padding: 0;
	background-color: aliceblue;
	color:darkblue;
	font-size: 20px;
	font-family: Arial;
	line-height: normal;
	text-align: justify;
	border: none;
}

p {
	margin: 0;
	padding: 0;
	background-color: aliceblue;
	color:darkblue;
	font-size: 20px;
	font-family: Arial;
	line-height: normal;
	text-align: justify;
	border: none;
}